/* Base HTML CSS3 */

a {
	text-decoration: none;
	color: #47AFE4; }
.navigation {
	margin: 0px; }
h1 {
    font-weight: 900;
    font-size: 25px;
    color: #159957; }
h3 {
	font-family: "PT Sans", sans-serif;
	font-weight: 500;
	color: #FFF; }
.header {
	color: #fff;
	text-align: center;
	padding: 50px; }
.main-content {
    background: #484266;
    color: #f1a1ac;
    max-width: 76rem;
    padding: 0rem;
    margin: 0px auto; }
.main-content h1, .main-content h2 {
    color: #f1a1ac; }
.main-content img {
    margin-bottom: -5px;
	max-width: 100%; }
.top-border {
	max-width: 70rem;
	padding: 2px 3rem;
	margin: 0px auto;
	font-size: 1rem;
	background: transparent;}
#main-content-head {
	max-width: 70rem;
	padding: 1rem 3rem;
	margin: 0px auto;
	font-size: 1rem;
	background: #212121;}
.bottom-border {
	max-width: 70rem;
	padding: 2px 3rem;
	margin: 0px auto;
	font-size: 1rem;
	background: transparent;}